@model ClassificationsListViewModel



@{
    ViewData["Title"] = "List of categories";
}

<body>
    <br />

    <form asp-action="Index" method="post" role="form">

        <div class="form-row col-5 pl-1 pb-2">
            <div class="input-group">

                <input asp-for="SearchName" class="form-control" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </div>

            </div>

        </div>

    </form>



    <table class="table table-striped table-hover table-sm border">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Classifications.FirstOrDefault().Name)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Classifications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td style="width:150px">
                        <div class="btn-group btn-group-sm" role="group">

                            <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Classification" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                            <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Classification" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        </div>
                    </td>


                </tr>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn btn-outline-secondary" page-class-normal="btn btn-secondary"
         page-class-selected="btn btn-secondary active" class="btn-group btn-group-sm m-1"></div>

</body>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
