@model ServiceDesk.Models.ViewModels.RequestViewModel
@using ServiceDesk.Utilities



<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <div class="p-3 mt-3 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        @*Row 1*@

        <div class="form-row p-1 m-1 border rounded">
            <div class="form-group col-2">
                <div>
                    <label asp-for="@Model.Request.Id">Request no.</label>
                </div>
                <div>
                    <input asp-for="@Model.Request.Id" readonly class="form-control col-6" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="@Model.Request.Status"></label>
                </div>
                <div>
                    <select asp-for="@Model.Request.Status" asp-items="@new SelectList(Enum.GetNames(typeof(RequestStatus)))" class="form-control"></select>
                </div>

                <span asp-validation-for="@Model.Request.Status" class="text-danger"></span>
            </div>
        </div>



        @*Row 2*@

        @*Col 1*@
        <div class="form-group row">
            <div class="col-3">
                <div class="col-5">
                    <input type="hidden" asp-for="@Model.Request.RequestorId" />
                </div>


                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.Requestor.Name">Requestor</label>
                    </div>
                    <div>
                        <input asp-for="@Model.Request.Requestor.Name" readonly class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.Request.Requestor.Name" class="text-danger"></span>
                </div>




                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.Team.Name">Team</label>
                    </div>
                    <div>
                        <select id="teamID" asp-for="@Model.Request.TeamId" asp-items="Model.Teams.ToSelectListItem(Model.Request.TeamId)" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.Classification.Name">Category</label>
                    </div>
                    <div>
                        <select id="classID" asp-for="@Model.Request.ClassificationId" asp-items="Model.Classifications.ToSelectListItem(Model.Request.ClassificationId)" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.Assignee.Name">Assignee</label>
                    </div>

                    @if (Model.Request.AssigneeId == null)
                    {
                        <div>
                            <select id="assigneeID" asp-for="@Model.Request.AssigneeId" asp-items="Model.Assignees.ToSelectListItemString(Model.Request.AssigneeId)" class="form-control">
                                <option></option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div>
                            <select id="assigneeID" asp-for="@Model.Request.AssigneeId" asp-items="Model.Assignees.ToSelectListItemString(Model.Request.AssigneeId)" class="form-control"></select>
                        </div>
                    }

                </div>

                <div class="form-group">
                    <div>
                        <input type="hidden" asp-for="@Model.Request.AssigneeId" class="form-control" />
                    </div>
                </div>




                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.SubmitDate">Submit date</label>
                    </div>
                    <div>
                        <input asp-for="@Model.Request.SubmitDate" readonly class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.Request.SubmitDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Request.ClosedDate">Close date</label>
                    </div>
                    <div>
                        <input asp-for="@Model.Request.ClosedDate" readonly class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.Request.ClosedDate" class="text-danger"></span>
                </div>


            </div>

            @*Col 2 Row 1*@

            <div class="col-6">



                <div class="form-group row">
                    <label class="h6 pl-4">Description</label>
                    <div class="col-12">
                        <input asp-for="@Model.Request.Title" readonly class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.Request.Title" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea asp-for="@Model.Request.Content" readonly class="form-control" rows="6"></textarea>
                    </div>
                    <span asp-validation-for="@Model.Request.Content" class="text-danger"></span>
                </div>







                @*Col 2 row 2*@

                <table class="table">

                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.RequestNote.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestNote.NoteUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestNote.Content)
                            </th>
                        </tr>
                    </thead>


                    @foreach (var item in Model.RequestNotes)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoteUser.Name)
                            </td>
                            <td>
                                <textarea asp-for="@item.Content" class="form-control" rows="8" disabled></textarea>
                            </td>
                        </tr>
                    }

                </table>



                <div class="form-group">

                    <input type="submit" class="btn btn-secondary btn-sm" asp-controller="RequestNotes" asp-action="Create" asp-route-item="@Model.RequestNote" value="Add note" />
                    <div>
                        <textarea asp-for="@Model.RequestNote.Content" class="form-control" rows="8"></textarea>
                    </div>
                    <span asp-validation-for="@Model.RequestNote.Content" class="text-danger"></span>
                </div>

            </div>


            @*Col 3*@

            <div class="col-3">

                <table class="table .table-borderless">

                    @foreach (var item in Model.Images)
                    {
                        <tr>
                            <td>
                                <div class="modal fade bd-example-modal-lg show" id="@item.Name" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">@item.Name</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="dynamic-content">
                                                <img src="~/images/screens/@item.Name" class="img-fluid" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="#@item.Name" data-toggle="modal"><img src="~/images/screens/@item.Name" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" /></a>

                            </td>

                        </tr>
                    }

                </table>

            </div>

        </div>


        @*ROw 3*@
        <br />
        <div class="form-group row">

            <div class="btn-group" role="group">
                <input type="submit" class="btn btn-outline-success" asp-route-id="@Model.Request.Id" value="Update" />
                <a asp-action="Index" class="btn btn-outline-primary mr-2">Back to List</a>
                <input type="submit" class="btn btn-outline-success" asp-controller="Images" asp-action="Create" asp-route-item="@Model.Image" value="Add image" />
            </div>

            <div class="input-group col-6">
                <div class="custom-file">
                    <input type="file" name="files" class="custom-file-input" id="inputGroupFile" />
                    <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                </div>
            </div>
        </div>
    </div>



</form>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#teamID').change(function () {
                var url = '@Url.Content("~/RequestConfig/")' + "Requests/GetClassification";
                var ddlsource = "#teamID";

                $.getJSON(url, { teamId: $(ddlsource).val() }, function (data) {
                    var items = ' ';
                    $("#classID").empty();
                    $.each(data, function (i, classification) {
                        items += "<option value='" + classification.value + "'>"+ classification.text + "</option>";
                    }
                    );
                    $("#classID").html(items);
                });
            }
            );


            $('#teamID').change(function () {
                var url = '@Url.Content("~/RequestConfig/")' + "Requests/GetAssignee";
                var ddlsource = "#teamID";

                $.getJSON(url, { teamId: $(ddlsource).val() }, function (data) {
                    var items = ' ';
                    $("#assigneeID").empty();
                    $.each(data, function (i, classification) {
                        items += "<option value='" + classification.value + "'>"+ classification.text + "</option>";
                    }
                    );
                    $("#assigneeID").html(items);
                });
            }
            );




        }
        );


    </script>

    <script>

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>





    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    }